---
import About from "../components/About.astro";
import RecentJournals from "../components/RecentJournals.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <About />
  <RecentJournals />
  <div class="see-all">
    <a href="/journals" class="see-all">See All</a>
  </div>
</Layout>

<style>
  div.see-all {
    text-align: right;
  }
</style>
