---
---
<h2>About Me</h2>
<div>
  Hello! My name is Suzuka Mikami, a Japanese learner of Russian. I have a burning passion for learning languages, and my goal is to be able to read books in Russian. You might be wondering why I am writing this blog in English — well, it is all for fun! ;-)
</div>