---
import { dateStringFromDate } from "../helpers/date-util";
import { getCollection } from "astro:content";

const collectionName = "journals";
const journals = (await getCollection(collectionName)).sort((a, b) => {
  return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
});
---
<ul class="posts">
  {
    journals.map((post) => (
      <li>
        <p class = "date">{dateStringFromDate(post.data.pubDate)}</p>
        <p class="title">
          <a href={`/${collectionName}/${post.slug}/`}>{post.data.title}</a>
        </p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul.posts li {
    padding: 0;
    margin-bottom: 40px;
  }

  ul.posts li p.date {
    margin: 0;
    font-style: italic;
  }

  ul.posts li p.title {
    margin: 0;
    font-size: var(--font-size-lg);
  }
</style>